/*----------------------------------------------------
                 Centita - CSS File
------------------------------------------------------*/


/* Front Page Slider
------------------------------------------------------*/
#slider1 {
    width: 960px; /* important to be same as image width */
    height: 280px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}
#slider1 h2 {
	font-size:24px;
	color:#ffffff;
	margin-bottom:0px;
}
#slider1 h3 {
	font-size:16px;
	color:#ffffff;
	margin-bottom:8px;
}
#slider1Content {
    width: 960px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font-size:12px;
    padding: 15px 20px;
    width: 960px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 24px;
}
.right {
	right: 0;
	bottom: 0;
	width: 272px !important;
	height: 255px;
}
ul { list-style-type: none;}
a.more {
display: inline-block;
margin-top:10px;
padding: 5px 10px;
background: #2f87aa;
color: #ffffff;
}